services:
  - type: web
    name: vehicle-parking-app
    env: python
    region: oregon
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn app:app
    envVars:
      - key: SECRET_KEY
        generateValue: true
      - key: FLASK_ENV
        value: production
      - key: DATABASE_URL
        fromDatabase:
          name: parking-db
          property: connectionString
      - key: ADMIN_EMAIL
        value: admin@parking.com
      - key: ADMIN_PASSWORD
        sync: false

databases:
  - name: parking-db
    databaseName: parking
    user: parking_user
    plan: free
